ape-alchemy==0.8.3
ape-arbitrum==0.8.2
ape-base==0.8.0
ape-bsc==0.8.3
ape-etherscan==0.8.3
ape-optimism==0.8.0
w3multicall==0.3.1
web3==6.19.0
py-solc-x==2.0.3
cmake==3.30.5
fastparquet==2024.5.0
pyarrow==17.0.0
autoflake==2.3.1
isort==5.13.2